header.bg-white {
    background-color: rgb(43,55,66)!important;
    
}
header.bg-white a {
    color: azure!important;
}

#select-language, #searchOpen {
    color: azure!important;
    background-color: rgb(43,55,66)!important;
}


main p::-moz-selection {
    color: rgb(43,55,66)!important;
}
main p::selection {
    color: rgb(43,55,66)!important;
}


main a {
    text-decoration: underline!important;
    text-decoration-color: #00D391!important;
}

/* show underline on hover */
/* main a:hover {
    text-decoration: underline!important;
    text-decoration-color: red!important;
    -webkit-text-decoration-color: red!important;
} */

/* Do not scale images */
main img.w-100 {
    width: inherit!important;
}


footer {
    background-color: rgb(43,55,66);
    color: azure;
}
footer h6 {
    color: azure!important;
}
footer a {
    color: rgb(220, 220, 220)!important;
}
footer p {
    color: rgb(220, 220, 220)!important;
}